@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body{
    background-color: #562B08;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    max-width: 100%;
}

.navbar{
    position: sticky;
    top: 0;
    background-color:#EEE3CB;
}

.inicio{
    left: 75px;
}


.links{
    margin-bottom: 0;
    right: 75px;
}

.link{
    display: inline-block;
    padding: 10px;
    color: #000;
    letter-spacing: 3px;
    font-weight: 400;
    cursor: pointer;
    transition: .3s
    
}

.link:hover{
    color:#B3541E;
    cursor: pointer;
    scale: 1.2;
}

.toggle{
    right: 50px;
    color:#000;
    cursor:pointer;
    transition: .3s;
}

.toggle:hover{
    color: #B3541E;
}


.linea{
    background-image: url("linea.jpg");
    background-repeat: repeat-x;
}

.card{
    grid-auto-columns: auto;
    margin: 0 50px;
    padding-top: 10px;
    border-radius: 20px; 
    border: 5px #B3541E;
}

.rounded{
    border: 5px groove #fff;
}

.logo{
    height: 80px;
    width: 80px;
    border-radius: 20px;
    left: 300px;
}

.ford{
    left: 10px;
}

.jumbotron {
    color: #fff;
    max-width: 100%;
    background-color: #B3541E;
    margin-bottom: 0;
}

#enlaces{
    position: relative;
    left: 20px;
    color: #fff;
    
    
}

.lineafooter{
    background-image: url("linea.jpg");
    background-repeat: repeat-x;
}

@media screen and (max-width:992px) {

    .navbar > div{
        max-width: 100%;
    
        position: sticky;
    }

    .incio  > img{
        position:relative;
        left: 100px;
        top: 50px;
    }

    .links{
        position: relative;
        right: 30px;
        display: inline-block;
        
    }

    .proyectos{
        padding: 0 50px;
    }

    .logo{
        position: relative;
        left: 10px;
        width: 80px;
        height: 80px
    }

    .ford {
        position: relative;
        
       
    }

    .container{
        position: relative;
        left: 200px;

    }

    #enlaces > i{
        position: relative;
        left: 280px;
        color: #fff;
        margin: 8px; 
             
    }



}

@media screen and (max-width:665px) {

    .navbar > div{
        position: sticky;
        
    }

    .incio  > img{
        position:relative;
        right: 500px;
        top: 50px;
    }

    .links{
        position: relative;
        left: 100px;
        
        display: inline-block;
    }

    .proyectos{
        padding: 0 50px;
    }

    .logo{
        position: relative;
        left: -130px;
       
    }

    .ford {
        position: relative;
        top: 0;
        left: -250px;
    }


    #enlaces{
        position: relative;
        left: -70px;
        color: #fff;
        
        
    }

}
